.questionPage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font: 20px Phosphate;
}
.cardTitle {
  text-align: center;
  color: #faaf1e;
}
.add-inputs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input {
  margin-top: 15px;
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 1px solid;
}
