.questionPage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font: 20px Phosphate;
}
.cardTitle {
  text-align: center;
  color: #faaf1e;
}
.add-inputs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input {
  text-align: left;

  font-size: 1rem;
  margin-top: 15px;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #615c5c;
  color: #faaf1e;
}
.input::placeholder {
  color: #faaf1e;
  opacity: 0.8;
}
.input-synopsis {
  height: 100px;
}
.btn {
  border: 2px solid black;
  background-color: #1a1817;
  color: #d97919;
  height: 70px;
  width: 300px;
  margin-top: 20px;
  font-size: 1.6rem;
  font: 20px Phosphate;
}
